{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}

<form action="/quote" method="POST">
    <input type="text" name="stock" placeholder="stock symbol (e.g., AAPL)">
    <button class="btn btn-primary" type="submit">Request New Quote</button>

</form>

<br>

<table class="table">
    <tr>
        {% for k, v in stock.items() %}
        <th> {{ k }} </th>
        {% endfor %}
        <th>Options</th>
    </tr>

    <tr>
        {% for k, v in stock.items() %}
        <td> {{ v }} </td>
        {% endfor %}
        <td>
            <form action="/buy" method="POST">
                <input type="text" style="width: 47%;" name="buy_stock"
                    placeholder="Input stock symbol to confirm purchase">
                <input style="width: 5%;" type="number" placeholder="#" id="quantity" name="quantity" min="1">
                <button class="btn btn-success" type="submit">Buy Stock</button>
            </form>

        </td>
    </tr>

</table>


{% endblock %}